@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .heading-h1 {
    @apply   text-[54px] leading-[120%] tracking-normal;
  }

  .heading-h2 {
    @apply   text-[45px] leading-[120%] tracking-normal;
  }

  .heading-h3 {
    @apply   text-[37px] leading-[120%] tracking-normal;
  }

  .heading-h4 {
    @apply   text-[31px] leading-[120%] tracking-normal;
  }

  .heading-h6 {
    @apply   text-[22px] leading-[120%];
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(132, 135, 132) rgba(255, 255, 255, 0) ;

}
.no-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);

}


/* Add this CSS to your global stylesheet or a CSS module */
.fixed-header {
  width: 90px;
  /* Adjust the width as needed */
  max-width: 90px;
  min-width: 90px;

}

