@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-h1 {
    @apply text-[54px] leading-[120%] tracking-normal;
  }

  .heading-h2 {
    @apply text-[45px] leading-[120%] tracking-normal;
  }

  .heading-h3 {
    @apply text-[37px] leading-[120%] tracking-normal;
  }

  .heading-h4 {
    @apply text-[31px] leading-[120%] tracking-normal;
  }

  .heading-h6 {
    @apply text-[22px] leading-[120%];
  }

  .markdown h1 {
    @apply heading-h4 my-4 mt-8 text-grey-500 capitalize font-bold;
  }

  .markdown h2 {
    @apply heading-h6 my-4 mt-8 text-grey-500 capitalize font-bold;
  }

  .markdown h3 {
    @apply heading-h6 my-4 mt-8 text-grey-500 capitalize font-semibold;
  }

  .markdown h4 {
    @apply heading-h6 mt-8 text-grey-500 capitalize font-semibold my-4;
  }

  .markdown h6 {
    @apply heading-h6 mt-8 text-grey-500 capitalize font-semibold my-4;
  }

  .markdown p {
    @apply text-[18px] leading-[1.5] text-grey-300;
  }

  .markdown ul {
    @apply !list-disc ml-6 text-[18px] leading-[1.5] text-grey-300;
  }

  .markdown li {
    @apply text-grey-300 text-[18px] !list-disc my-4;
  }

  .markdown ol {
    @apply !list-disc ml-6 text-[18px] leading-[1.5] text-grey-300;
  }

  .markdown>*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    @apply text-[18px] leading-[1.5] text-grey-300;
  }

  .markdown img {
    @apply my-[1.5rem] rounded-md mx-auto !border-none;
  }

  .markdown table {
    @apply w-full border-collapse table-auto my-6;
  }

  .markdown th {
    @apply bg-gray-100 text-gray-900 text-start font-semibold px-4 py-2 border border-gray-700;
  }

  .markdown td {
    @apply border border-gray-700 px-4 py-2 text-grey-300 ;
  }

  .markdown tr:nth-child(even) {
    @apply border border-gray-900;
  }

  .markdown tr:nth-child(odd) {
    @apply border border-gray-800;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

.custom-editor {
  padding: 0 !important;
  margin: 0 !important;
}

/* Ensure that inner elements also have no padding or margin */
.custom-editor .ProseMirror {
  padding: 0 !important;
  margin: 0 !important;
}

* {
  outline: none;
  user-select: none;
}

.grid-container {
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
  display: grid;
  gap: 10px;
}